<table class="table table-bordered table-striped">
    <caption>
        {{ __('Overview') }} {{ include('@PhaidonPiwikModule/Dashboard/timePeriod.html.twig') }}
    </caption>
    <colgroup>
        <col id="cName" />
        <col id="cValue" />
    </colgroup>
    <thead>
        <tr>
            <th id="hName" scope="col">{{ __('Name') }}</th>
            <th id="hValue" scope="col">{{ __('Value') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th id="hVisitors" scope="row" headers="hName">{{ __('Visitors') }}:</td>
            <td headers="hValue hVisitors">{{ data.nb_visits }}</td>
        </tr>
        <tr>
            <th id="hUniqueVisitors" scope="row" headers="hName">{{ __('Unique visitors') }}:</th>
            <td headers="hValue hUniqueVisitors">{{ data.nb_uniq_visitors }}</td>
        </tr>
        <tr>
            <th id="hPageViews" scope="row" headers="hName">{{ __('Page views') }}:</th>
            <td headers="hValue hPageViews">{{ data.nb_actions }} (&#8960; {{ data.nb_actions_per_visit }})</td>
        </tr>
        <tr>
            <th id="hMaxViewsPerVisit" scope="row" headers="hName">{{ __('Max. page views in one visit') }}:</th>
            <td headers="hValue hMaxViewsPerVisit">{{ data.max_actions }}</td>
        </tr>
        <tr>
            <th id="hTotalTime" scope="row" headers="hName">{{ __('Total time spent') }}:</th>
            <td headers="hValue hTotalTime">{{ data.total_time }}</td>
        </tr>
        <tr>
            <th id="hTimePerVisit" scope="row" headers="hName">{{ __('Time/visit') }}:</th>
            <td headers="hValue hTimePerVisit">{{ data.average_time }}</td>
        </tr>
        <tr>
            <th id="hAverageTimeOnSite scope="row" headers="hName">{{ __('Average time on site') }}:</th>
            <td headers="hValue hAverageTimeOnSite">{{ data.avg_time_on_site }}</td>
        </tr>
        <tr>
            <th id="hBounceCount" scope="row" headers="hName">{{ __('Bounce count') }}:</th>
            <td headers="hValue hBounceCount">{{ data.bounce_count }}</td>
        </tr>
        <tr>
            <th id="hBounceRate" scope="row" headers="hName">{{ __('Bounce rate') }}:</th>
            <td headers="hValue hBounceRate">{{ data.bounce_rate }}</td>
        </tr>
    </tbody>
</table>
