<table class="table table-striped">
    <caption>
        {{ __('Visited pages') }} {{ include('@PhaidonPiwikModule/Dashboard/timePeriod.html.twig') }}
    </caption>
    <colgroup>
        <col id="cTitle" />
        <col id="cVisits" />
        <col id="cUnique" />
    </colgroup>
    <thead>
        <tr>
            <th id="hTitle" scope="col">{{ __('Title') }}</th>
            <th id="hVisits" scope="col">{{ __('Visits') }}</th>
            <th id="hUnique" scope="col">{{ __('Unique') }}</th>
        </tr>
    </thead>
    <tbody>
        {# Display 9 most popular pages #}
        {% set amountOfOtherUnique = 0 %}
        {% set amountOfOtherVisits = 0 %}
        {% for dataRow in data %}
            {% if loop.index <= 9 %}
                <tr>
                    <td headers="hTitle">{{ dataRow.label }}</td>
                    <td headers="hVisits">{{ dataRow.nb_visits }}</td>
                    <td headers="hUnique">{{ dataRow.sum_daily_nb_uniq_visitors }}</td>
                </tr>
            {% else %}
                {% set amountOfOtherVisits = amountOfOtherVisits + dataRow.nb_visits %}
                {% set amountOfOtherUnique = u + dataRow.sum_daily_nb_uniq_visitors %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3">
                    {{ __('No data available.') }}
                </td>
            </tr>   
        {% endfor %}

        {# Display other pages #}
        {% if amountOfOtherVisits > 0 %}
            <tr>
                <td headers="hTitle">{{ __('Others') }}</td>
                <td headers="hVisits">{{ amountOfOtherVisits }}</td>
                <td headers="hUnique">{{ amountOfOtherUnique }}</td>
            </tr>   
        {% endif %}
    </tbody>
</table>
