<table class="table table-bordered table-striped">
    <caption>
        {{ __('Visited pages') }} {{ include('@PhaidonPiwikModule/Dashboard/timePeriod.html.twig') }}
    </caption>
    <colgroup>
        <col id="cTitle" />
        <col id="cVisits" />
        <col id="cUniqueVisitors" />
        <col id="cHits" />
        <col id="cBounceRate" />
        <col id="cExitRate" />
    </colgroup>
    <thead>
        <tr>
            <th id="hTitle" scope="col">{{ __('Title') }}</th>
            <th id="hVisits" scope="col">{{ __('Visits') }}</th>
            <th id="hUniqueVisitors" scope="col">{{ __('Unique visitors') }}</th>
            <th id="hHits" scope="col">{{ __('Hits') }}</th>
            <th id="hBounceRate" scope="col">{{ __('Bounce rate') }}</th>
            <th id="hExitRate" scope="col">{{ __('Exit rate') }}</th>
        </tr>
    </thead>
    <tbody>
        {# Display maxAmountOfShownPages (9) most popular pages #}
        {% set amountOfOtherVisits = 0 %}
        {% set amountOfOtherUniqueVisitors = 0 %}
        {% set amountOfOtherHits = 0 %}
        {% for dataRow in data %}
            {% if loop.index <= maxAmountOfShownPages %}
                <tr>
                    <td headers="hTitle">{{ dataRow.label }}</td>
                    <td headers="hVisits">{{ dataRow.nb_visits }}</td>
                    <td headers="hUniqueVisitors">{{ dataRow.nb_uniq_visitors }}</td>
                    <td headers="hHits">{{ dataRow.nb_hits }}</td>
                    <td headers="hBounceRate">{{ dataRow.bounce_rate }}</td>
                    <td headers="hExitRate">{{ dataRow.exit_rate }}</td>
                </tr>
            {% else %}
                {% set amountOfOtherVisits = amountOfOtherVisits + dataRow.nb_visits %}
                {% set amountOfOtherUniqueVisitors = amountOfOtherUniqueVisitors + dataRow.sum_daily_nb_uniq_visitors %}
                {% set amountOfOtherHits = amountOfOtherHits + dataRow.nb_hits %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3">
                    {{ __('No data available.') }}
                </td>
            </tr>   
        {% endfor %}

        {# Display other pages #}
        {% if amountOfOtherVisits > 0 %}
            <tr>
                <td headers="hTitle">{{ __('Others') }}</td>
                <td headers="hVisits">{{ amountOfOtherVisits }}</td>
                <td headers="hUniqueVisitors">{{ amountOfOtherUniqueVisitors }}</td>
                <td headers="hHits">{{ amountOfOtherHits }}</td>
                <td headers="hBounceRate">-</td>
                <td headers="hExitRate">-</td>
            </tr>   
        {% endif %}
    </tbody>
</table>
