{{ pageAddAsset('stylesheet', zasset('@PhaidonPiwikModule:js/jsplot/jquery.jqplot.min.css')) }}
{{ pageAddAsset('javascript', zasset('@PhaidonPiwikModule:js/jsplot/jquery.jqplot.min.js')) }}
{{ pageAddAsset('javascript', zasset('@PhaidonPiwikModule:js/jsplot/plugins/jqplot.trendline.min.js')) }}

<table class="table table-striped">
    <caption>
        {% if period == 'day' %}
            {{ __f('Visits in the last %s days', { '%s': 30 }) }}
        {% elseif period == 'week' %}
            {{ __f('Visits in the last %s weeks', { '%s': 12 }) }}
        {% elseif period == 'month' %}
            {{ __f('Visits in the last %s months', { '%s': 12 }) }}
        {% elseif period == 'year' %}
            {{ __f('Visits in the last %s years', { '%s': 5 }) }}
        {% endif %}
    </caption>
    <colgroup>
        <col id="cDate" />
        <col id="cVisits" />
        <col id="cUnique" />
        <col id="cBounced" />
    </colgroup>
    <thead>
        <tr>
            <td colspan="4" class="text-center">
                <div id="piwikVistorsGraph" style="height: 220px; width: 490px"></div>
            </td>
        </tr>
        <tr>
            <th id="hDate" scope="col">{{ __('Date') }}</th>
            <th id="hVisits" scope="col">{{ __('Visits') }}</th>
            <th id="hUnique" scope="col">{{ __('Unique') }}</th>
            <th id="hBounced" scope="col">{{ __('Bounced') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for strDate, intValue in visitors %}
            <tr>
                <td headers="hDate">{{ strDate }}</td>
                <td headers="hVisits">{{ intValue }}</td>
                <td headers="hUnique">{{ unique[strDate] }}</td>
                <td headers="hBounced">{{ bounced[strDate] }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
                <strong>{{ __('Unique TOTAL') }}</strong> {{ __('Sum') }}: {{ intUSum }} {{ __('Avg') }}: {{ intAvg }}
            </td>
        </tr>
    </tbody>
</table>

{% set plotScript %}
<script type="text/javascript">
    var $j = jQuery.noConflict();
    $j.jqplot('piwikVistorsGraph', [
        [{{ strValues }}],
        [{{ strValuesU }}],
        [{{ strBounced }}]
    ], {
        axes: {
            yaxis: {
                min: 0,
                tickOptions: {
                    formatString: '%.0f'
                }
            },
            xaxis: {
                min: 1,
                max: 30,
                ticks: [{{ strLabels }}]
            }
        },
        seriesDefaults: {
            showMarker: false,
            lineWidth: 1,
            fill: true,
            fillAndStroke: true,
            fillAlpha: 0.9,
            trendline: {
                show: false,
                color: '#C00',
                lineWidth: 1.5,
                type: 'exp'
            }
        },
        series: [
            {
                color: '#90AAD9',
                fillColor: '#D4E2ED'
            },
            {
                color: '#A3BCEA',
                fillColor: '#E4F2FD',
                trendline: {
                    show: true,
                    label: '{{ __('Unique visitor trend') }}'
                }
            },
            {
                color: '#E9A0BA',
                fillColor: '#FDE4F2'
            }
        ],
    });
</script>
{% endset %}
{{ pageAddVar('footer', plotScript) }}
