{{ adminHeader() }}
<h3>
    <span class="fa fa-life-ring"></span>
    {{ __('Troubleshooting') }}
    {{ pageSetVar('title', __('Troubleshooting')) }}
</h3>

<p>{{ __('If Piwik does not properly log the page accesses please check the following questions:') }}</p>

<ol>
    <li>{{ __('Are your Piwik settings (path, token and site) correctly configured?') }}</li>
    <li>{{ __('Does the Piwik code (see below) appear in the source code of your page?') }}</li>
    <li>
        {{ __('Is the Piwik code (see below) identical with this one of the Piwik web interface?') }}<br />
        {% set fullPiwikUrl = piwikUrl ~ '/index.php?module=SitesManager&amp;action=displayJavascriptCode&amp;idSite=' ~ siteId %}
        <a href="{{ piwikUrl }}" title="{{ __('Show Piwik tracker code') }}">{{ piwikUrl }}</a>
    </li>
</ol>

<div><small>
    <textarea rows="16" cols="60">
        {{ include('@PhaidonPiwikModule/UserApi/tracker.html.twig')|e('html') }}
    </textarea>
</small></div>

{{ adminFooter() }}
